<title>:: Oreo Hospital :: Patients</title>
<link rel="icon" href="~/UserFiles/favicon.ico" type="image/x-icon">
<!-- Favicon-->
<link rel="stylesheet" href="~/UserFiles/assets/plugins/bootstrap/css/bootstrap.min.css">
<!-- Custom Css -->
<link rel="stylesheet" href="~/UserFiles/assets/css/main.css">
<link rel="stylesheet" href="~/UserFiles/assets/css/color_skins.css">

<section class="content">
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-md-12">
                    <div class="header">
                        <h2 style="width:34%; margin:auto;"><strong>Appointments</strong> List</h2>
                    </div>
                <div class="card patients-list">
                    <div class="body">
                        <!-- Tab panes -->
                        <div class="tab-content m-t-10">
                            <div class="tab-pane table-responsive active" id="All">
                                <table class="table m-b-0 table-hover">
                                    <thead>
                                        <tr>
                                            <th>Appointment ID</th>
                                            <th>Appointment Date</th>
                                            @* <th>Appointment Time</th> *@
                                            @* <th>Patient</th> *@
                                            @* <th>Patient Age</th> *@
                                            <th>Doctor</th>
                                            <th>Department</th>
                                        </tr>
                                    </thead>
                                    <tbody id="patientAppointments">
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="~/AccessaryFiles/js/signalr/dist/browser/signalR.js"></script>

<!-- Jquery Core Js -->
<script src="~/UserFiles/assets/bundles/libscripts.bundle.js"></script> <!-- Bootstrap JS and jQuery v3.2.1 -->
<script src="~/UserFiles/assets/bundles/vendorscripts.bundle.js"></script> <!-- slimscroll, waves Scripts Plugin Js -->

<script src="~/UserFiles/assets/bundles/mainscripts.bundle.js"></script><!-- Custom Js -->
<script src="~/AccessaryFiles/js/user.js"></script>
<script src="~/AccessaryFiles/js/site.js"></script>

@* <script src="~/AccessaryFiles/lib/jquery/dist/jquery.min.js"></script>  *@
