@model AppoinmentViewModel
<!DOCTYPE html>
<html lang="zxx">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="description" content="Orbitor,business,company,agency,modern,bootstrap4,tech,software">
    <meta name="author" content="themefisher.com">

    <title>Novena- Health & Care Medical template</title>

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico" />

    <!-- bootstrap.min css -->
    <link rel="stylesheet" href="~/UserFiles/plugins/bootstrap/css/bootstrap.min.css">
    <!-- Icon Font Css -->
    <link rel="stylesheet" href="~/UserFiles/plugins/icofont/icofont.min.css">
    <link rel="stylesheet" href="~/UserFiles/css/style.css" />
    <!-- Slick Slider  CSS -->
    <link rel="stylesheet" href="~/UserFiles/plugins/slick-carousel/slick/slick.css">
    <link rel="stylesheet" href="~/UserFiles/plugins/slick-carousel/slick/slick-theme.css">

    <!-- Main Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/5.10.0/main.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/UserFiles/css/style.css">

</head>

<body id="top">
    @* <section>
    <div class="square_box box_three"></div>
    <div class="square_box box_four"></div>
    <div class="container mt-5">
    <div class="row">

    <div class="col-sm-12">
    <div class="alert fade alert-simple alert-danger alert-dismissible text-left font__family-montserrat font__size-16 font__weight-light brk-library-rendered rendered show" role="alert" data-brk-library="component__alert">
    <button type="button" class="close font__size-18" data-dismiss="alert">
    <span aria-hidden="true">
    <i class="fa fa-times danger "></i>
    </span>
    <span class="sr-only">Close</span>
    </button>
    <i class="start-icon far fa-times-circle faa-pulse animated"></i>
    <strong class="font__weight-semibold">Oh snap!</strong> Change a few things up and try submitting again.
    </div>
    </div>

    </div>
    </div>
    </section> *@
    <section class="page-title bg-1">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="block text-center">
                        <span class="text-white">Book your Seat</span>
                        <h1 class="text-capitalize mb-5 text-lg">Appoinment</h1>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="appoinment section">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="mt-3">
                        <div class="feature-icon mb-3">
                            <i class="icofont-support text-lg"></i>
                        </div>
                        <span class="h3">Call for an Emergency Service!</span>
                        <h2 class="text-color mt-3">+84 789 1256 </h2>
                    </div>
                </div>

                <div class="col-lg-8">
                    <div class="appoinment-wrap mt-5 mt-lg-0 pl-lg-5">
                        <h2 class="mb-2 title-color">Book an appoinment</h2>
                        <p class="mb-4">Mollitia dicta commodi est recusandae iste, natus eum asperiores corrupti qui velit . Iste dolorum atque similique praesentium soluta.</p>
                        @* <form class="appoinment-form" method="post" asp-action="Appointment" asp-controller="Home"> *@
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label>Department</label>
                                    <select style="border-radius:20px" asp-for="DepartmentId" class="form-control" id="departmentSelect">
                                        <option value="" selected disabled >Select a department</option>

                                        @for (int i = 0; i < Model.Departments.Count(); i++)
                                        {
                                            <option value="@Model.Departments[i].Id">@Model.Departments[i].DepartmentName</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label>Doctor</label>
                                    <select style="border-radius:20px" asp-for="DoctorId" class="form-control" id="doctorSelect">
                                        <option value="none" selected disabled>Select a doctor</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label>Available Dates</label>
                                    <select style="border-radius:20px" asp-for="DateId" class="form-control" id="dateSelect">
                                        <option value="none" selected disabled >Select a date</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label>Available Times</label>
                                    <select style="border-radius:20px" asp-for="AppointmentTime" class="form-control" id="exampleFormControlSelect4" onchange="ChangeTime()">
                                        <option value="none" selected disabled >Select a time</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label asp-for="PhoneNumber">Phone Number</label>
                                    <input style="border-radius:20px" asp-for="PhoneNumber" id="phone" type="Number" class="form-control" placeholder="Phone Number" oninput="handlePhoneInput()">
                                    <label id="emptyPhone" style="color:red; display:none;">Enter phone number</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group-2 mb-4">
                            <label asp-for="Message">Message</label>

                            <textarea style="border-radius:20px" asp-for="Message" id="message" class="form-control" rows="6" placeholder="Your Message" oninput="ChangeMessage()"></textarea>
                        </div>

                     <button onclick="CallAppointment()" class="btn btn-main btn-round-full" type="button">Make Appointment<i class="icofont-simple-right ml-2"></i></button>

                    </div>
                        <div style="border-radius:20px; margin-right:50%;" id="success" tabindex="-1" role="dialog">
                            
                        </div>
                </div>
            </div>
        </div>
    </section>
    <div style="border-radius:20px;" class="modal fade" id="addevent" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="title" id="defaultModalLabel">Book appointment</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <div class="form-line">
                            <input type="number" class="form-control" placeholder="Card number">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-line">
                            <input type="text" class="form-control" placeholder="Exp date">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-line">
                            <input class="form-control no-resize" placeholder="Security code"></input>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button style="background-color:#223a66; margin:auto; border-radius:30px;" type="button" class="btn btn-primary btn-round waves-effect" data-dismiss="modal" data-toggle="modal" data-target="#successpay">Pay</button>
                    <button style="background-color:#223a66; margin:auto; border-radius:30px;" type="button" class="btn btn-primary btn-round waves-effect" data-toggle="modal" data-target="#success" type="button" data-dismiss="modal">Pay</button>
                </div>
            </div>
        </div>
    </div>


    <div style="border-radius:20px;" class="modal fade" id="success" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <h1 style="color:springgreen">Your payment was successfully</h1>
                <div class="modal-footer">
                    <button asp-action="Index" asp-controller="Home" class="btn btn-primary btn-round waves-effect" style="background-color:springgreen; margin:auto; border-radius:30px; color:white">OK</button>
                </div>
            </div>
        </div>
    </div>

    <div style="border-radius:20px;" class="modal fade" id="successpay" tabindex="-1" role="dialog">
        <img src="~/UserFiles/images/success.gif" />
        <div class="modal-footer">
            <button style="background-color:#223a66; margin:auto; border-radius:30px;" type="button" class="btn btn-primary btn-round waves-effect" data-dismiss="modal" data-toggle="modal" data-target="#successpay">OK</button>
        </div>
    </div>

    <div style="border-radius:20px;" class="modal fade" id="successpay" tabindex="-1" role="dialog">
        <img src="~/UserFiles/images/success.gif" />
        <div class="modal-footer">
            <button onclick="SendSMS()" style="background-color:#223a66; margin:auto; border-radius:30px;" type="button" class="btn btn-primary btn-round waves-effect" data-dismiss="modal" data-toggle="modal" data-target="#successpay">Send SMS</button>
            <button onclick="SendEmail()" style="background-color:#223a66; margin:auto; border-radius:30px;" type="button" class="btn btn-primary btn-round waves-effect" data-dismiss="modal" data-toggle="modal" data-target="#successpay">Send Email</button>
        </div>
    </div>

    <script src="~/AccessaryFiles/js/signalr/dist/browser/signalR.js"></script>
    <!--
    Essential Scripts
    =====================================-->
    <!-- Main jQuery -->
    <script src="~/UserFiles/plugins/jquery/jquery.js"></script>
    <!-- Bootstrap 4.3.2 -->
    <script src="~/UserFiles/plugins/bootstrap/js/popper.js"></script>
    <script src="~/UserFiles/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/UserFiles/plugins/counterup/jquery.easing.js"></script>
    <!-- Slick Slider -->
    <script src="~/UserFiles/plugins/slick-carousel/slick/slick.min.js"></script>
    <!-- Counterup -->
    <script src="~/UserFiles/plugins/counterup/jquery.waypoints.min.js"></script>

    <script src="~/UserFiles/plugins/shuffle/shuffle.min.js"></script>
    <script src="~/UserFiles/plugins/counterup/jquery.counterup.min.js"></script>
    <!-- Google Map -->
    <script src="~/UserFiles/plugins/google-map/map.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAkeLMlsiwzp6b3Gnaxd86lvakimwGA6UA&callback=initMap"></script>

    <script src="~/UserFiles/js/script.js"></script>
    <script src="~/UserFiles/js/contact.js"></script>

    <script src="~/AccessaryFiles/js/user.js"></script>
    <script src="~/AccessaryFiles/js/site.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/5.10.0/main.min.js"></script>
</body>
</html>