<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ReactProject</title>
    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico" />

    <!-- bootstrap.min css -->
    <link rel="stylesheet" href="~/UserFiles/plugins/bootstrap/css/bootstrap.min.css">
    <!-- Icon Font Css -->
    <link rel="stylesheet" href="~/UserFiles/plugins/icofont/icofont.min.css">
    <!-- Slick Slider  CSS -->
    <link rel="stylesheet" href="~/UserFiles/plugins/slick-carousel/slick/slick.css">
    <link rel="stylesheet" href="~/UserFiles/plugins/slick-carousel/slick/slick-theme.css">

    <!-- Main Stylesheet -->
    <link rel="stylesheet" href="~/css/style.css">
</head>


<body id="top">
    <section class="section service-2">
        <div class="container">
            <div class="row">
                <div class="block text-center">
                    <h1 style="margin-right:70%; display:inline-block;" class="text-capitalize mb-5 text-lg">Appointment booked successfully</h1>
                    <img src="~/AccessaryFiles/images/sss.gif" style="width:60%; height:60vh; margin-left:50%; margin-top:-28%;" />
                    <a href="/Home/Index">
                        <button id="okSuccess" style="background-color:rgba(34,58,102,255); display:inline-block; margin:auto; border-radius:30px; margin-right:70%;  margin-top:-16%;" type="button" class="btn btn-primary btn-round waves-effect">OK</button>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <!--
    Essential Scripts
    =====================================-->
    <!-- Main jQuery -->
    <script src="~/plugins/jquery/jquery.js"></script>
    <!-- Bootstrap 4.3.2 -->
    <script src="~/plugins/bootstrap/js/popper.js"></script>
    <script src="~/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/plugins/counterup/jquery.easing.js"></script>
    <!-- Slick Slider -->
    <script src="~/plugins/slick-carousel/slick/slick.min.js"></script>
    <!-- Counterup -->
    <script src="~/plugins/counterup/jquery.waypoints.min.js"></script>

    <script src="~/plugins/shuffle/shuffle.min.js"></script>
    <script src="~/plugins/counterup/jquery.counterup.min.js"></script>
    <!-- Google Map -->
    <script src="~/plugins/google-map/map.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAkeLMlsiwzp6b3Gnaxd86lvakimwGA6UA&callback=initMap"></script>
    <script src="~/AccessaryFiles/js/user.js"></script>
    <script src="~/AccessaryFiles/js/site.js"></script>

    <script src="~/js/script.js"></script>
    <script src="~/js/contact.js"></script>

</body>

</html>