<!-- Favicon-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <meta name="description" content="Responsive Bootstrap 4 and web Application ui kit.">

    <title>:: Oreo Hospital :: All Departments</title>
    <link rel="icon" href="~/DoctorFiles/favicon.ico" type="image/x-icon">
    <!-- Favicon-->
    <link rel="stylesheet" href="~/DoctorFiles/plugins/bootstrap/css/bootstrap.min.css">
    <!-- Custom Css -->
    <link rel="stylesheet" href="~/DoctorFiles/assets/css/main.css">
    <link rel="stylesheet" href="~/DoctorFiles/assets/css/chatapp.css">
    <link rel="stylesheet" href="~/DoctorFiles/assets/css/color_skins.css">

    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="~/AdminFiles/assets/plugins/bootstrap/css/bootstrap.min.css">
    <!-- Custom Css -->
    <link rel="stylesheet" href="~/AdminFiles/assets/css/main.css">
    <link rel="stylesheet" href="~/AdminFiles/assets/css/color_skins.css">
</head>


<!-- Main Content -->
<section class="content">
    <div class="block-header">
        <div class="row">
            <div class="col-lg-7 col-md-5 col-sm-12">
                <h2>
                    All Abouts
                    <small>Welcome to Oreo</small>
                </h2>
            </div>
            <div class="col-lg-5 col-md-7 col-sm-12">
                <ul class="breadcrumb float-md-right">
                    <li class="breadcrumb-item"><a href="/Admin/Index"><i class="zmdi zmdi-home"></i> Oreo</a></li>
                    <li class="breadcrumb-item"><a href="javascript:void(0);">Departments</a></li>
                    <li class="breadcrumb-item active">Alle</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row clearfix" id="doctorsAdmin">
        </div>
    </div>
</section>
<script src="~/AccessaryFiles/js/signalr/dist/browser/signalR.js"></script>
<!-- Jquery Core Js -->
<script src="~/AdminFiles/assets/bundles/libscripts.bundle.js"></script> <!-- Lib Scripts Plugin Js -->
<script src="~/AdminFiles/assets/bundles/vendorscripts.bundle.js"></script> <!-- Lib Scripts Plugin Js -->

<script src="~/AdminFiles/assets/bundles/mainscripts.bundle.js"></script>
<script src="~/AccessaryFiles/js/user.js"></script>
<script src="~/AccessaryFiles/js/site.js"></script>
